.about-us-image {
    padding-bottom: 16px;
}

.services {
    color: #4f4a4a;

    .services-list {
        margin-top: 15px;

        .services-list-item {
            text-align: left !important;
            font-size: 15px;
        }
    }

    .education-summary {
        color: black
    }
}


